<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals                           = "false"
        backupStaticAttributes                  = "false"
        beStrictAboutOutputDuringTests          = "false"
        beStrictAboutTestsThatDoNotTestAnything = "true"
        bootstrap                               = "tests/bootstrap.php"
        colors                                  = "true"
        convertErrorsToExceptions               = "true"
        convertNoticesToExceptions              = "true"
        convertWarningsToExceptions             = "true"
        processIsolation                        = "false"
        stopOnError                             = "true"
        stopOnFailure                           = "true"
        testdox                                 = "true"
        verbose                                 = "false">

    <testsuites>
        <testsuite name="Instuyf">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
