{{ include('_header.twig') }}

<div class="container">
    <ul>
    {%- for notification in notifications  -%}
        <li>{{ notification }}</li>
    {%- endfor -%}
    </ul>
</div>

{{ include('_footer.twig') }}
